[flake8]
# B = bugbear
# E = pycodestyle errors
# F = flake8 pyflakes
# W = pycodestyle warnings
# B9 = bugbear opinions,
# ISC = implicit str concat
select = B, E, F, W, B9, ISC
ignore =
    # line length, handled by black
    B950
    E501
    # bare except, handled by bugbear B001
    E722
    # binary operation line break, different opinion from black
    W503
    # exception chaining
    B904
    # !r conversion flag
    B907
# up to 88 allowed by bugbear B950
max-line-length = 80
per-file-ignores =
    # <file>: <comma-separated-error-codes>
    src/incydr/__init__.py: F401
    src/incydr/enums/__init__.py: F401
    src/_client/core/enums.py: F401
    src/_client/core/settings.py: B902
    src/_cli/cmds/models.py: B902
    src/_client/queries/_file_events/enums.py: B902
    src/_cli/*: B008
    src/_client/core/enums.py: F401
