repos:
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.37.3
      hooks:
        - id: pyupgrade
          args: ["--py37-plus", "--keep-runtime-typing"]
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v3.9.0
      hooks:
        - id: reorder-python-imports
          args: ["--py37-plus", "--application-directories=.:src:tests"]
    - repo: https://github.com/psf/black
      rev: 22.6.0
      hooks:
        - id: black
    - repo: https://github.com/pycqa/flake8
      rev: 5.0.4
      hooks:
        - id: flake8
          additional_dependencies:
            - flake8-bugbear
            - flake8-implicit-str-concat
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
        - id: fix-byte-order-marker
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-yaml
          args: ['--unsafe']
