@import 'top-nav';

#redoc-container .operation-type {
    display: none;
}

// Make the top nav, left nav, background color, and headings look the same
// as on the Docs page.

html, body {
    margin: 0;
    @extend %default-font;
}

@media print, screen and (max-width: 75rem) {
    h1 {
        margin: -40px 0;
    }
}

h2 { color: #333333 !important;}

#redoc-container .api-content {
    margin-top: $top-nav-height;
    a {
        text-decoration: none;
        color: #1976d2;
        &:hover {
          color: #1565c0;
        }
    }
}

#redoc-container .menu-content {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#redoc-container .menu-content ul li {
    font-size: 0.875rem !important;
    font-weight: 400;
}

#redoc-container .menu-content .scrollbar-container > ul {
    & > li {
        font-size: 1rem !important;
        font-weight: 700;
    }
    + div {
        // hide the "Documentation Powered by ReDoc" link
        display: none;
    }
}

div[data-section-id] {
    padding: 5px 0 !important;
}
